@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@Model.Name</h1>
<ul style="list-style-type: square">
    <li>@Model.MembershipType.Name</li>
    @if (Model.Birthdate != null)
    {
        <li>@Model.Birthdate</li>
    }
</ul>